apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tiny-url

resources:
  - namespace.yaml

  - configmap.yaml
  - secrets.yaml

  - redis/statefulset.yaml
  - postgresql/statefulset.yaml
  - postgresql/replicas.yaml
  - clickhouse/statefulset.yaml

  - api-gateway/deployment.yaml
  - api-gateway/service.yaml
  - api-gateway/hpa.yaml
  - redirect-service/deployment.yaml
  - redirect-service/service.yaml
  - redirect-service/hpa.yaml

  - url-service/deployment.yaml
  - url-service/service.yaml
  - url-service/hpa.yaml
  - user-service/deployment.yaml
  - user-service/service.yaml
  - user-service/hpa.yaml

  - analytics-worker/deployment.yaml
  - analytics-worker/hpa.yaml
  - pipeline-worker/deployment.yaml
  - pipeline-worker/hpa.yaml
  - cleanup-worker/cronjob.yaml

  - ingress.yaml

commonLabels:
  app.kubernetes.io/part-of: tiny-url
  app.kubernetes.io/managed-by: kustomize
