apiVersion: v1
kind: Service
metadata:
  name: redirect-service
  namespace: tiny-url
  labels:
    app: redirect-service
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: redirect-service
