apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: tiny-url
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
    - port: 50052
      targetPort: 50052
      protocol: TCP
      name: grpc
  selector:
    app: user-service
